<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
</head>

<body>
    <div class="container">
        <!-- <div class="head__section">
            <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGF2YXRhcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="">
            <p>Hey I'm Atharva</p>
        </div> -->
        <div class="link_catalogue">
            <ul id="item">
                <li class="links">
                    <a href="/links">
                        <span>
                            <h3>Links</h3>
                            <p>Links for all the classes.</p>
                        </span>
                    </a>
                </li>
                <li class="coe">
                    <a href="/coe">
                        <span>
                            <h3>COE</h3>
                            <p>Join the COE class</p>
                        </span>
                    </a>
                </li>
                <li class="ced">
                    <a href="/ced">
                        <span>
                            <h3>CED</h3>
                            <p>Join the CED class</p>
                        </span>
                    </a>
                </li>
                <li class="timetable">
                    <a href="/timetable">
                        <span>
                            <h3>Timetable</h3>
                            <p>See the timetable.</p>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/static/js/homepage.js"></script>
</body>

</html>