<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/noclass.css">
    <title>No Class</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>No Class</title>
    </head>

    <body>
        <div class="main-text">
            <h1>Oh noice.<br />No class right now!!</h1>
            <a class="home-link" href="/">Want me to take you home?</a> <span style="font-size: 1rem;"> <br> or maybe <br> </span>
            <a class="home-link" href="/links">see all the links?</a>
        </div>
    </body>

    </html>
</body>

</html>